@import '../media_queries.scss';

.container{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
    .sub_1{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        @include mq-small {
            flex-direction: column;
        }       
        .container_img{
            height: 360px;
            width: 600px;
            overflow: hidden;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;

            .image{
                margin-right: 10px;
                width: 100%; /* set the width of the image to fill the container */
                height: 100%; /* set the height of the image to fill the container */
                object-fit: cover;
                border-radius: 5px;
                @include mq-small {
                    margin-right: 0px;
                } 
            }
          
            @include mq-small {
               width: 110%;
               height: 300px;
               margin-top: 200px;
            }  
        } 
       
        .img_description{
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            max-width: 400px;
            min-width: 300px;
            height: 360px;
            padding: 10px;
            @include mq-small {
               height: auto;
             } 
            .img_title{
                font-size: 1.8rem;
                @include mq-small {
                   font-size: 1.2rem;
                } 
            }
            .img_desc_title{
                font-size: 1.5rem;
                margin-bottom: 10px;
                font-weight: 300;
                @include mq-small {
                    font-size: 1rem;
                } 
            }
            .description{
                background-color: #f5f5f5;
                font-weight: 300;
                font-size: .9rem;
                overflow-y: auto;
                padding: 1rem 1.5rem;
                border-radius: 2px;
                min-height: 200px;
                max-height: 200px;
                text-align: justify;
                scrollbar-width: thin;
                @include mq-small {
                    font-size: .8rem;
                } 
            }
        }
    }
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 5px;
    background-color: #f5f5f5;
    width: 85%;
    @include mq-small {
      width: 100%;
      padding: 0px;
      background-color: #ffffff;
    } 
    .form_inputs{
        width: 50%;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        
    }
}
.upper_inputs{
    display: none;
    @include mq-small {
        display: flex;
    } 
}
.lower_inputs{
    display: flex;
    @include mq-small {
        display: none;
    } 
}
label{
    font-weight: 300;
    margin-right: 10px;
    font-size: 1rem;
    @include mq-small {
        font-size: .8rem;
    } 
}

.submit_button{
    margin-top: 10px;
}
.apod_loading_container{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
